body {
    background-color: #F2F5F6;
    font-family: Calibri, Arial;
    text-align: center;
}

#h2p {
    margin-top: 15%;
    text-align: center;
}

#help {
    clear: both;
    text-align: left;
}

.hotkey {
    font-family: monospace;
    font-weight: bold;
}

#centre {
    float: left;
    width: 540px;
    margin: 0px 35px 0px 15px;
}

#main {
    margin: 3% auto;
    width: 890px;
    height:500px;
}

#history {
    float: left;
    list-style-type: none;
    padding: 5px 0px;
    width: 225px;
    margin: 0px;
}

.his-li {
    height: 35px;
    text-align: left;
    margin-bottom: 1%;
}

.his-li:nth-Child(9) {
    opacity: 0.8;
}

.his-li:nth-Child(10) {
    opacity: 0.6;
}

.his-li:nth-Child(11) {
    opacity: 0.4;
}

.history-item {
    border-radius: 3px;
    padding: 1%;
}

.good {
    background-color: #A5E2A5;
}

.bad {
    background-color: #FCDDB8;
}

#guessList {
    float: left;
    list-style-type: none;
    padding-left: 0px;
    text-align: right;
    width: 70px;
    margin-top: 0px;
}

.guess-li {
    margin: 0 0 10% 0;
}

#guessList .button {
    padding: 2% 38% 2% 0%;
}

#guessing {
    margin: 0 auto;
    width: 51.5%;
}

#number {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    float: left;
    text-align: center;
    width: 10%;
}

#guess, #tellMe, #throwDice {
    float: left;
    margin-left: 1%;
    width: 100px;
}

#guess {
    width: 35px;
}

.button {
    background-color: #C9D4DF;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #676D73;
}

.button:hover {
    background-color: #C9DFDF;
    cursor: pointer;
}
